body{
    margin: 0;
    background:rgb(0, 0, 0);
    width: 100%;
    height: 100vh;}
    
    * {
        box-sizing: border-box}
header{
    
    flex: 1 1 300px;
    width: 100%;
    height: 110px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   box-shadow: 0px 5px 20px rgb(155, 155, 155);
}
.menu{ 
    
    font-family: Verdana;
    list-style: none;
    font-size: 15px;
    flex-wrap: wrap;
    display: flex;
    margin:5px;
    justify-content:space-between;
}
.menu li a{
 
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10%;
}

.menu li a:hover{
    background-color:#ccc;
    color: rgb(0, 0, 0);
    display: block;
    text-decoration: none;}

.logo{
    background-repeat: no-repeat;
    margin-left: 20px;
    background-image:url(slogan00_resized.png);    
    border-radius:1px;
    width: 60px;
    height: 60px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.container{
    padding-top: 20px;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

    }
    .container div{
      margin:10px;
      display: flex;
      flex: 1 1 300px;
}
img{ 
    
    border-radius: 20px;
    border:1px solid white;
    width: 100%;}

  
    
    
.rodape{ 
    
    justify-content: center;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    height: 120px;
    
}


#Git {
    color:white;

    font-family: sans-serif;
    padding-top: 30px;  
    margin-left:20px;
    margin-right: 1100px;
    font-size: 15px;  
    
}

#like {
    color:#ffffff;
   border-radius:inherit;
     font-family: sans-serif;
    padding-top: 10px;  
    margin-left:20px;
    margin-right: 1100px;
    font-size: 15px;
  
}  
#copy{ font-size: 12px;
    text-align: center;
padding-left: 20px;
    color:white

}
.sec1{ 
    
    box-shadow: 0px 0px 5px rgb(107, 107, 107);
    margin-left: 55px;
    color: white;
    opacity: 0.9;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;

}

iframe{ 
    padding-top: 20px;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    border: 2px solid white;
    width: 450px;
    height: 250px;

}
#iframe_relogio{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
